<main>
    <h1 class="m-10 text-center text-4xl">
        the restore link was sended to your email
    </h1>
    <h2 class="m-10 text-center text-2xl">please check your inbox and follow the instruction</h2>

<div class="text-center">
    <a href="/login" class="px-3 py-2 bg-black text-white mx-auto rounded-2xl">Login</a>
</div>
   


   
</main>