<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Resto del código... -->
</head>

<body>
  <h1>Real Time Products</h1>
  
  <ul id="productList">
    {{#each products}}
      <li>{{title}} - {{description}} - {{price}}$</li>
    {{/each}}
  </ul>

  <!-- Resto del código... -->
</body>

</html>
