<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="md:flex">
        
        <div class="p-8">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{userData.first_name}}
                {{userData.last_name}}</div>
            <p class="mt-2 text-gray-500">{{userData.email}}</p>
            <p class="mt-2 text-gray-500">Edad: {{userData.age}}</p>
        </div>
    </div>
       <div class="mx-10 my-10 font-bold bg-green-300 text-xl w-1/4 rounded-2xl text-center">
        <a href="/products" >
            Ver Productos
        </a>
       </div>
</div>